/* For landscape */

@media screen and (orientation: landscape) {
    *{
        font-family:'Courier New', Courier, monospace;
    }
    
    body{
        /* left: 50%; */
        background-color:  rgb(234, 255, 243);
        border: none;
        font-size: 2.5vh;
        /* color: rgb(0, 162, 255); */
        color: black;
    }

    .home{
        position: relative;
        width: 60vw;
        /* background-color: skyblue; */
        z-index: 9;
        margin: 0;
        top: 0;
        left: 50vw;
        transform: translate(-50%, 0);

        font-family: 'Times New Roman', Times, serif;
        color: black;
    }

    .profile_link{
        margin-right: 10px;
        float: right;
        /* font-weight: 900; */
    }
    
    
    a:link, a:active, a:visited, a:hover{
        text-decoration: none;
        color: unset;
        font-family: unset;
    }

    .title_image{
        position: relative;
        
        width: 60vw;
        height: 50vh;

        left: 50vw;
        transform: translate(-50%, 0);

        background-position-y: center;
        background-repeat: no-repeat;
        background-size: 100%;

    }

    .projects_title{
        position: relative;
        /* background-color: green; */
        width: 60vw;
        height: 10vh;
        top: 80%;

        display: flex;
        align-items: center;

        border: none;

            background-color: rgb(0,0,0,0.5 );
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);

        font-family: 'Times New Roman', Times, serif;
    }

    h1{
        position: relative;
        text-decoration: none;
        /* font-weight: normal; */
        font-size: 2vw;
        left: 1vw;
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }

    .list_of_projects{
        position: relative;
        /* background-color: blue; */
        width: 60vw;
        /* height: 100vh; */
        /* top: 50%; */
        
        left: 50vw;
        transform: translate(-50%, 0);

        border-left-width: 0;
        border-right-width: 0;
        border-top-width: 0;
        border-bottom-width: 0;

        padding-bottom: 3vh;

    }


    h2{
        position: relative;
        text-decoration: none;
        font-size: 3vh;
        left: 1vw;
        font-weight: normal;

        margin-top: 3vh;
        margin-bottom: 3vh;
        /* color: black; */
    }


    h3{
        margin: 0;
        padding: 0;
        border: none;
        position: relative;
        text-decoration: none;
        font-size: 2vh;
        /* left: 1vw; */
        font-weight: normal;
        margin-bottom: 3vh;
        color: rgb(94, 94, 94);
        margin-bottom: 50px;

    }

    .footer{
        position: relative;
        width: 100vw;
        /* height: 100vh; */
        margin: 0;
        padding: 0;
        border: 0;
        left: 0;

        background-color: rgb(240, 240, 240);
    }

    .footer h2{
        margin-top: 0;
        margin-bottom: 3vh;
        padding-top: 3vh;
    }

    .footer .below_footer{
        position: relative;
        width: 60vw;
        
        left: 50vw;
        transform: translate(-50%, 0);
    }

    .footer .footer_project{
        position: relative;
        float: right;
            /* border: solid; */
        width: 50%;
        text-align: center  ;
    }

    .footer .footer_profile{
        position: relative;
        float: right;
            /* border: solid; */
        width: 50%;
        text-align: center;
    }

    .out_of_bound{
        width: 100%;
        float: right;
        text-align: center;
    }
}


/* For portraits */
@media screen and (orientation: portrait) {

    *{
        font-family:'Courier New', Courier, monospace;
    }

    body{
        background-color:  rgb(234, 255, 243);
        width: 100vw;
        font-size: 3.5vw;
        color: rgb(0, 0, 0);
        font-weight: bold;
    }


    .home{
        position: relative;
        width: 95vw;
        /* background-color: skyblue; */
        z-index: 9;
        margin: 0;
        top: 0;
        left: 2vw;

        font-family: 'Times New Roman', Times, serif;
        color: black;
    }
    
    .profile_link{
        float: right;
        margin-right: 10px;
        /* font-weight: 900; */
    }
    
    a:link, a:active, a:visited, a:hover{
        text-decoration: none;
        color: unset;
        font-family: unset;
    }

    .title_image{
        position: relative;
        /* background-color: orange; */
        width: 100vw;
        height: 25vh;

        background-size: 100vw;
        background-position: center;
    }

    .projects_title{
        position: relative;
        /* background-color: green; */
        width: 100vw;
        height: 5vh;
        top: 20vh;

        background-color: (0,0,0,0.5);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);

        display: flex;
        align-items: center;

    }


    h1{
        position: relative;
        text-decoration: none;
        /* font-weight: normal; */
        font-size: 4vw;
        left: 1vw;
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }

    .list_of_projects{
        position: relative;
        /* background-color: blue; */
        width: 100vw;
        /* height: 100vh; */


        border-color: black;
        border-style: solid;
        border-left-width: 0;
        border-right-width: 0;
        border-top-width: 0;
        border-bottom-width: 0;
        /* border-radius: 3vh; */

        padding-bottom: 3vh;
        
    }

    h2{
        position: relative;
        margin-top: 3vh;
        margin-bottom: 0vh;
        font-size: 4.5vw;
        left: 1.5vw;
        /* color: black; */
        /* font-weight: bold; */
    }

    h3{
        margin: 0;
        padding: 0;
        border: none;
        position: relative;
        text-decoration: none;
        font-size: 2vh;
        /* left: 1vw; */
        font-weight: normal;
        margin-bottom: 3vh;

        color: black;

    }

    .footer{
        position: relative;
        width: 100vw;
        border: none;

        color: black;

        background-color: rgb(240, 240, 240);
    }

    .footer h2{
        margin-top: 0;
        margin-bottom: 3vh;
        padding-top: 3vh;
    }

    .footer .footer_project{

        float: right;
            /* border: solid; */
        width: 50%;
        text-align: center  ;
    }

    .footer .footer_profile{
        
        float: right;
            /* border: solid; */
        width: 50%;
        text-align: center;
    }

    
    .out_of_bound{
        width: 100%;
        float: right;
        text-align: center;
    }
}